/* 1. Change the default font. */
/* LEARNED IN LAB */
body {
  font-family: 'Poppins-Regular', Verdana;
  padding: 2rem;
  background-color: #ffffff;
  color:rgb(0, 0, 0);
  
  display: grid; /* test for footer*/
  justify-content: center;
  align-content: end;
}
/* HYPERLINK */
a { 
  color: #0469f7;
}
/* HYPERLINK HOVER */
a:hover {
  color: #1fade0;
  transition: 0.25s ease-in-out;
}

/* CATEGORY */
.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #1fade0;
}

/* NAVIGATION BAR BUTTONS */
.navBut {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
/* NAVIGATION SPECIALS */
.navBut:hover,
.navBut:focus,
.navBut:active
 {
  color: #0469f7;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
/* NINTENELEVEN */
.logo {
  color: #0469f7;
}

h2:not(.header2) {
  margin-top: 6rem;
}
h3:not(.header3) {
  font-style: italic;
  margin-top: 1rem;
}
h4:not(.header4) {
  margin-bottom: 0.25rem;
}
/* PARAGRAPH */
p {
  margin-top: 0;
}
/* NAVIGATION BAR COLOUR */
nav {
  background-color: #f0f0f0;
  padding: 0.5rem;
  display: block;
}

.topnav-right {
  float: right;
}

/* SUB NAVIGATION BAR COLOUR ONLY IN INDEX*/
.navAnchor {
  background-color: #dddddd;
}
nav a:hover,
nav a:focus {
  text-decoration: none;
}
code {
  background-color: #f0f0f0;
  padding: 0.5rem;
  display: block;
}
/* 
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button */
/* nothing below makes the buttons turn grey after click*/
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white; 
  background-color: #1FADE0;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  border-radius: 2rem;
  border: none;
  outline: none;
  box-shadow: 0 5px grey;
}
.button-nav:hover{
  color: white; 
  background-color: #0469f7;
  transition: background-color 0.3s ease-out;
}
.button-nav:active {
  background-color: #0469f7; 
  color: white; 
  box-shadow: 0 3px black;
  transform: translateY(3px); 
} 


.field-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #000000; /* TEXT AND BUTTON BORDER */
  background-color:  #f0f0f0;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  border-radius: 2rem;
  border: solid;
}
.field-nav:hover,
.field-nav:focus {
  background-color: #ffffff;
  border: solid #0469f7;
  color: black;
}

/* 2. Add space between <section> elements. */
/* LEARNED IN LAB */
section {
  margin-top: 3rem;
}
/* 4. Add a different hover and focus state styling to the image as a link. */
/* LEARNED IN LAB */
/* pikachu img in styleguide*/
figure img:hover,
figure img:active,
figure img:focus {
  opacity: 60%;
  transition-duration: 0.25s;
}

/* 5. Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks. */
/* LEARNED IN LAB */
p,
ul,
ol {
  max-width: 40rem;
}


/* 6. Style the <input> and <label> using Building Forms (Shay Howe)Links to an external site. as a guide. Add HTML as necessary to allow further control of the styling, and make sure:
The label and text input look visually related.

The text input shows us when it has been interacted with, both on hover and focus. */

/* LEARNED IN LAB Source: https://learn.shayhowe.com/html-css/building-forms/#multple-choice-inputs*/

input:hover,
input:active,
input:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(228, 228, 228);
  transition: 0.25s ease-in-out;
}

.serif {
  font-family: "RobotoSlab-Regular", Times;

}


/* HOVER NAV BUTTONS */
.nav-link {
  color: black;
  font-weight: bold;
  /* font-size: 16px; */
  padding: 0px 0px; /*making the line not too far to right*/
  margin: 0px 10px;
  display: inline-block;
  position: relative;
}

.nav-link::before {
  transition: 0.15s; /* time it takes for bar to appear*/
  height: 5px;
  content: "";
  position: absolute;
  background-color: #0469f7;
}

/*BAR WIDTH B4 HOVER */
.nav-bar-up::before {
  margin: -8px 0px; /*moving the red bar down*/
  height: 0;
  width: 100%;
  bottom: 0;
}

/* BAR HEIGHT WHEN HOVERED */
.nav-bar-up:hover::before {
  height: 4px;
}

.active {
  background-color:#0469f7;
}
.header {
  padding-top: 1rem;
  text-align: center;
  color: white;
  font-size: 30px;
}


/* Test new hamburger nav from https://codepen.io/sanketbodke/pen/LYyzzYb*/

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

/* removes the checkbox for the hamburger*/
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}



@media (max-width: 950px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}


/*footer learned from https://youtu.be/JViuPwlP1mU*/
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #f0f0f0;
}
footer .container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
footer .container .section h2{
  position: relative;
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .container .quicklinks{
  position: relative;
}
footer .container .quicklinks ul li{
  list-style: none;
}
footer .container .quicklinks ul li a {
  text-decoration: none;
  margin-bottom: 15px;
  display: inline-block;
}
footer .container .contact .info{
  position: relative;
}
footer .container .contact .info li{ 
  display: grid;
  margin-bottom: 16px;
}
footer .container .contact li a {
  text-decoration: none;
}
.copyrightinfo{
  width: 100%;
  background:white;
  padding: 20px 100px 30px;
  text-align: center;
}

@media (max-width: 991px){
  footer{
    padding: 40px;
  }
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .copyrightinfo{
    padding: 20px 40px 30px; 
  }
}
@media (max-width: 768px){
  footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
