/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
/* 1. Change the default font. */
/* LEARNED IN LAB */
body {
  font-family: 'Poppins-Regular', Verdana;
  padding: 2rem;
  background-color: #ffffff;
  color:rgb(0, 0, 0);
}
/* HYPERLINK */
a { 
  color: #0469f7;
}
/* HYPERLINK HOVER */
a:hover {
  color: #1fade0;
  transition: 0.25s ease-in-out;
}

/* CATEGORY */
.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: #1fade0;
}
/* 3. Add a different hover and focus state styling to the in-text link. */
.intext-link-button {
  background-color:  rgb(205, 205, 205);
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.5rem;

}

.intext-link-button:hover,
.intext-link-button:focus,
.intext-link-button:active {
  background-color:    #e9e9e9;
  color: rgb(0, 0, 0);
  transition: background-color 0.35s ease-out;
}

.table {
  border: solid black;
}

/* NAVIGATION BAR BUTTONS */
.navBut {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.3rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
/* NAVIGATION SPECIALS */
.navBut:hover,
.navBut:focus,
.navBut:active
 {
  color: #0469f7;
  text-decoration: none;
  transition: 0.15s ease-in-out;
}
/* NINTENELEVEN RED */
.logo {
  color: #0469f7;
}

h2:not(.header2) {
  margin-top: 6rem;
}
h3:not(.header3) {
  font-style: italic;
  margin-top: 1rem;
}
h4:not(.header4) {
  margin-bottom: 0.25rem;
}
/* PARAGRAPH */
p {
  margin-top: 0;
}
/* NAVIGATION BAR COLOUR */
nav {
  background-color: #f0f0f0;
  padding: 0.5rem;
  display: block;
}

.topnav-right {
  float: right;
}

/* SUB NAVIGATION BAR COLOUR */
.navAnchor {
  background-color: #dddddd;
}
nav a:hover,
nav a:focus {
  text-decoration: none;
}
code {
  background-color: #f0f0f0;
  padding: 0.5rem;
  display: block;
}
/* 
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button */
/* nothing below makes the buttons turn grey after click*/
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white; 
  background-color: #1FADE0;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  border-radius: 2rem;
  border: none;
  outline: none;
  box-shadow: 0 5px grey;
}
.button-nav:hover{
  color: white; 
  background-color: #0469f7;
  transition: background-color 0.3s ease-out;
}
.button-nav:active {
  background-color: #0469f7; 
  color: white; 
  box-shadow: 0 3px black;
  transform: translateY(3px); 
} 


.field-nav {
  display: inline-block;
  padding: 0.5rem;
  color: #000000; /* TEXT AND BUTTON BORDER */
  background-color:  #f0f0f0;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.25s;
  border-radius: 2rem;
  border: solid;
}
.field-nav:hover,
.field-nav:focus {
  background-color: #ffffff;
  border: solid #0469f7;
  color: black;
}

/* 
  TEXT ELEMENTS -------------------
*/

/* 
  COMBINED ELEMENTS -------------------
*/
/* 2. Add space between <section> elements. */

/* LEARNED IN LAB */
section {
  margin-top: 3rem;
}
/* 4. Add a different hover and focus state styling to the image as a link. */

/* LEARNED IN LAB */

.imgcrop {
  max-width: 425;
}

figure img:hover,
figure img:active,
figure img:focus {
  opacity: 60%;
  transition-duration: 0.25s;
  
}

/* 5. Shorten the default width of the <p> element, but ensure it is still responsive when the viewport shrinks. */

/* LEARNED IN LAB */
p,
ul,
ol {
  max-width: 40rem;
}


/* 6. Style the <input> and <label> using Building Forms (Shay Howe)Links to an external site. as a guide. Add HTML as necessary to allow further control of the styling, and make sure:
The label and text input look visually related.

The text input shows us when it has been interacted with, both on hover and focus. */

/* LEARNED IN LAB Source: https://learn.shayhowe.com/html-css/building-forms/#multple-choice-inputs*/

input:hover,
input:active,
input:focus {
  color: rgb(0, 0, 0);
  background-color: rgb(228, 228, 228);
  transition: 0.25s ease-in-out;
}

.serif {
  font-family: "RobotoSlab-Regular", Times;

}








/* TESTING HOVER NAV */

.nav-link {
  color: black;
  font-weight: bold;
  /* font-size: 16px; */
  /* text-transform: uppercase; */
  padding: 0px 0px; /*making the line not too far to right*/
  margin: 0px 10px;
  display: inline-block;
  position: relative;
}

.nav-link::before {
  transition: 0.15s; /* time it takes for bar to appear*/
  height: 5px;
  content: "";
  position: absolute;
  background-color: #0469f7;
}

/*BAR WIDTH B4 HOVER */
.nav-bar-up::before {
  margin: -8px 0px; /*moving the red bar down*/
  height: 0;
  width: 100%;
  bottom: 0;
}

/* BAR HEIGHT WHEN HOVERED */
.nav-bar-up:hover::before {
  height: 4px;
}

.active {
  background-color:#0469f7;
}
.header {

  padding-top: 1rem;
  text-align: center;
  color: white;
  font-size: 30px;
}



